 .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    background-color: aqua;
 }

 .card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
 }

 .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
 }

 .front {
    background-color: red;
    transform: rotateY(180deg);
 }

 .back {
    background-image: url('../images//totaldrama/teste.jpg');
    backface-visibility: hidden;
 }

 .card:hover {
    transform: rotateY(180deg);
 }